<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= author.name %></title>
</head>
<body>
	<h1>
		<%= author.name %>
		<%= "(#{author.handle})" if author.handle %>
	</h1>
	<h2>Posts</h2>
	<ul>
		<% author.posts.each do |post| %>
			<li>
				<a href="/posts/<%= post.id %>"><%= post.headline %></a>
			</li>
		<% end %>
	</ul>
</body>
</html>