<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="./stylesheets/style.css">
  <meta charset="UTF-8">
  <title>Greenpoint Microblog Feed</title>
</head>
<body>
  <h1>Greenpoint Microblog Feed</h1>
  <ul>
  <% posts.each do |post| %>
  <h3><a href="/posts/<%= post.id %>"><%= post.headline %></a></h3>
  <p><%= post.copy %></p>
  <% if post.image %>
  <img src="<%= post.image %>" >
  <% end %>
  <p><em>Created at: <%= post["created_at"] %></em> | <em> Authored by: <a href="/authors/<%= post["author_id"]%>/posts"><%= Author.find_by({id: post.author.id}).name %></a></em> | <em>Tag: <a href="/tags/<%= post["tag"]%>/posts"><%= post["tag"] %></a></em></p>
  <% end %>
  </ul>
 </li>
</body>
</html>



