<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./stylesheets/style.css">
  <h1>Greenpoint Microblog</h1>
  <div id="navigation">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/feed">Latest Posts</a></li>
      <li><a href="/posts/new">Create A Post</a></li>
      <li><a href="/subscribe">Subscribe</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
  <title><%= post[:id] %></title>
</head>
<body>
  <h1><%= post[:headline] %></h1>
  <p>From author
    <a href="/authors/<%= post.author[:id] %>">
      <%= post.author[:name] %>
    </a>
  </p>
  <p>
    <form action="/posts/<%= post[:id] %>" method="post">
      <label for="tag">Tag:</label>
      <input type="text" id="tag" name="tag" value="<%= post[:tag] %>">
      <button>Change tag</button>
      <% if @tag_updated %>
        <span class="updated">Tag updated!</span>
      <% end %>
    </form>
  </p>
  <p><%= post[:copy] %></p>
</body>
</html>




